<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Interview Schedules</title>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <style>

    #background-image {
          font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
          font-size: 35px;
          width: 480px;
          text-align: left;
          border-collapse: collapse;
          background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://prixie-api.herokuapp.com/images/prixe.jpg");
          margin: 20px;
      }

      #background-image th {
          font-weight: normal;
          font-size:30px;
          color: #339;
          padding: 12px;
      }

      #background-image td {
          color: #669;
          border-top: 1px solid #ffff;
          padding: 9px;
      }

      #background-image tfoot td {
          font-size: 11px;
      }

      #background-image tbody td {
          background: url("https://prixie-api.herokuapp.com/images/back.png");
      }

      * html #background-image tbody td {
          filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://prixie-api.herokuapp.com/images/back.png',sizingMethod='crop');
          background: none;
      }

      #background-image tbody tr:hover td {
          color: #339;
          background: none;
      }

</style>
  </head>
  <body>
    <% function getExp(){
      if (data[i].Experience.min && data[i].Experience.max) {

        return data[i].Experience.min+"-"+data[i].Experience.max+" Years";
      }else {
       return data[i].Experience.min+" Years";
      }
    }
    function getSal(){
      if (data[i].Salary) {
        return data[i].Salary;
      }else {
        return "Not Mentioned";
      }
    }
    function getWalkinDate(){
      if (data[i].Walk_In_date.From&&data[i].Walk_In_date.To) {
        return data[i].Walk_In_date.From+" to "+data[i].Walk_In_date.To;
      }else if (data[i].Walk_In_date == "") {
        return "ASAP";
      }else {
        return data[i].Walk_In_date;
      }
    }
    function getTime(){
      if (data[i].Walk_In_Time == "") {
        return "9:00AM to 5:00PM"
      }
      else {
        return data[i].Walk_In_Time;
      }
    }%>
    <table id="background-image">
      <thead>
        <tr>
          <th>Company</th><th>Job Role</th><th>Eligibility</th><th>Experience</th><th>Job Location</th><th>Walkin Date</th><th>Walkin Time</th>
        </tr>
      </thead>
      <tbody>
            <%for(var i=0;i<data.length;i++){%>
              <tr>

                <td><a href='<%= data[i].Website %>'><%= data[i].company %></a></td>
                <td><%= data[i].Job_Role %></td>
                <td><%= data[i].Eligibility %></td>

                <td><%= getExp() %></td>
              
                <td><%= data[i].Job_location %></td>
                <td>
                   <%= getWalkinDate() %></td>
                <td><%= getTime() %></td>
              </tr>
            <%}%>
      </tbody>
    </table>

  </body>
</html>
